<div class="pt-2" data-controller="flatpickr" data-flatpickr-dates='<%= @dates.map { |date| "#{date};" }.join('') %>'>
  <%= form_with model: setting do |form| %>

    <div>
      <div class="input-group mb-3">
        <%= form.label :start_date, class: 'input-group-text', for: 'setting_start_date', style: 'min-width: 100px' %>
        <%= form.datetime_field :start_date, { class: "form-control flatpickr-date-field", placeholder: 'DD-MM-YYYY HH:mm', required: true } %>
      </div>

      <div class="input-group mb-3">
        <%= form.label :end_date, class: 'input-group-text', for: 'setting_end_date', style: 'min-width: 100px' %>
        <%= form.datetime_field :end_date, { class: "form-control flatpickr-date-field", placeholder: 'DD-MM-YYYY HH:mm', required: true } %>
      </div>

      <div class="input-group mb-3">
        <%= form.label :horizon, class: 'input-group-text', for: 'setting_horizon', style: 'min-width: 100px' %>
        <%= form.select :horizon, @horizons, {}, { class: 'form-select' } %>
      </div>

      <div class="mb-3">
        <h5>Select models:</h5>
        <div class="ps-2">

          <%= form.collection_check_boxes :models, @models, :itself, :itself, { class: 'form-check-input' } do |cb| %>
            <div class="form-check">
              <%= cb.check_box %>
              <%= cb.label class: 'form-check-label' %>
            </div>
          <% end %>

        </div>
      </div>

      <div>
        <%= link_to 'Cancel', root_path, { class: 'btn btn-danger', style: 'width: 100px;' } %>
        <%= form.submit 'Apply', { class: 'btn btn-success', style: 'width: 100px;' } %>
      </div>
    </div>

  <% end %>
</div>