<%= form_with(model: temperature) do |form| %>
  <% if temperature.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(temperature.errors.count, "error") %> prohibited this temperature from being saved:</h2>

      <ul>
        <% temperature.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.label :temp_min, style: "display: block" %>
    <%= form.text_field :temp_min %>
  </div>

  <div>
    <%= form.label :temp_max, style: "display: block" %>
    <%= form.text_field :temp_max %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
