<div class="p-4 container">
  <div class="row" id="temperatures">
    <div class="col p-2">
      <div class="text-center">
        Displaying rows: <%= number_with_delimiter(@temperatures.offset + 1) %> - <%= number_with_delimiter(@temperatures.offset + @temperatures.length) %> of <%= number_with_delimiter(@temperatures.total_entries) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="display: block; overflow-y: auto; max-height: 700px;">
      <table class="table table-dark table-striped table-bordered table-sm">
        <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Temp min</th>
          <th scope="col">Temp max</th>
        </tr>
        </thead>
        <tbody>
        <% @temperatures.each do |temperature| %>
          <%= render temperature %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="p-2 col digg_pagination">
      <%= will_paginate @temperatures,
                        class: 'pagination justify-content-center',
                        previous_label: '<<',
                        next_label: '>>',
                        inner_window: 2,
                        outer_window: 2
      %>
    </div>
  </div>
</div>

