<div class="container d-flex justify-content-center">
  <div class="m-4 p-2 text-center" style="background: #dedede; border-radius: 5px;">
    <%= form_with url: "/data", method: :get do |form| %>

      <div name="hidden_field">
        <%= hidden_field :start_date, :value => params[:start_date] %>
        <%= hidden_field :end_date, :value => params[:end_date] %>
      </div>

      <div class="pt-3">
        <h6>Select data option:</h6>
        <div class="px-2">
          <%= form.select :data_option, @data_options %>
        </div>
      </div>

      <hr>

      <div class="d-flex justify-content-center">
        <%= submit_tag 'Confirm', options = { class: "btn btn-success", id: "submit-button" } %>
      </div>

    <% end %>
  </div>
</div>