<div>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark px-2">
    <%= link_to 'Navbar', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Home', root_path, class: 'nav-item nav-link align-bottom' %>
        <%= link_to 'Models', models_path, class: 'nav-item nav-link align-bottom' %>
        <%= link_to 'Temperatures', temperatures_path, class: 'nav-item nav-link align-bottom' %>
        <%= link_to 'About', about_path, class: 'nav-item nav-link align-bottom' %>
      </div>
    </div>
  </nav>
</div>