<div class="container d-flex justify-content-center">
  <div class="m-4 p-2 text-center" style="background: #dedede; border-radius: 5px;" >

    <h5>Choose date range:</h5>

    <div>
      <%= form_with method: :get do |form| %>
        <div class="pt-2 form-group text-start">
          <%= form.label :start_date %>
          <%= form.datetime_local_field :start_date, class: "form-control", step: 3600 %>
        </div>

        <div class="pt-2 form-group text-start">
          <%= form.label :end_date %>
          <%= form.datetime_local_field :end_date, class: "form-control", step: 3600 %>
        </div>

        <hr>

        <%= form.submit 'Confirm', options = { class: 'btn btn-success' } %>
      <% end %>
    </div>
  </div>
</div>
