<!DOCTYPE html>
<html>
<head>
  <title>WebInterface</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Flatpickr -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body style="background-color: #E1F5FE">
<%= render 'layouts/navbar' %>
<main>
  <%= render 'layouts/error' %>
  <%= yield %>
</main>
</body>
</html>
