<% settings = Setting.where(user_id: current_user.id) %>

<div class="mt-4 container">
  <h2>Profile</h2>
  <div class="ms-2">
    <div>
      <label class="form-label">Username: <%= current_user.username.titlecase %></label>
    </div>

    <div>
      <label class="form-label">Email: <%= current_user.email %></label>
    </div>

    <% if current_user.admin? %>
      <div>
        <label>Admin: <%= current_user.admin? %></label>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <h2>Settings: <%= settings.size %> of 10</h2>

    <div class="ms-2">
      <div style="max-height: 60vh; overflow-y: auto">
        <% if settings.any? %>
          <% settings.each do |setting| %>

            <%= render 'user/setting_card', setting: setting %>

          <% end %>
        <% end %>
      </div>

      <% if settings.size < 10 %>
        <%= link_to 'Create a new setting', new_setting_path(user_id: current_user.id), class: "btn btn-primary mt-2" %>
      <% end %>
    </div>
  </div>
</div>